@font-face {
    font-family: Poppins;
    src: url(../../fonts/Poppins/Poppins-Regular.ttf);
  
  
  }
.nav-menu{
    font-family: Poppins;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #fff;
}
.nav-menu li{
    display: inline;
    margin: 0 25px;
}
.nav-menu li a{
    text-decoration: none;
    color: #fff;
    font-family: Poppins;

}
.nav-menu li a:hover{
    color: #eee;
    
}
.left-25{
    margin-left: 25px;
}