.sec-three-body{
  width: 1349px;
  height: 1481px;
  background-color: #121a21;
}

.Do-you-want{   
  font-family: Axiforma;
  font-size: 50px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

  float: right;
  margin-top: 61px;
}
span{
  color: #1896de;
}

.para-content{
  width: 532px;
  height: 87px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

  position: absolute;
    right: -70px;
    top: 213px;
}

.para-1-content{
  width: 350px;
  height: 87px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

  position: absolute;
    top: 901px;
    left: 169px;
}
.para-2-content{
  width: 350px;
  height: 118px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

  position: absolute;
    top: 1013px;
    left: 169px;
}
.para-3-content{
  width: 350px;
  height: 149px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

  position: absolute;
    top: 1145px;
    left: 169px;
}
.para-4-content{
  width: 433px;
  height: 28px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  
  position: absolute;
  top: 1312px;
  left: 169px;
}
.matter-style{
 color:#1896de;
}

.mobile-1{
  position: absolute;
    top: 119px;
    left: 21px;
}
.mobile-2{
  position: absolute;
  top: 78px;
  left: -104px;
}
.mobile-3{
  position: absolute;
  top: 461px;
  left: -105px;
}
.mobile-4{
  position: absolute;
    top: 306px;
    left: 40px;
}
.mobile-5{
  position: absolute;
    top: 767px;
    right: 395px;
}
.mobile-6{
  position: absolute;
    top: 571px;
    right: -103px;
}
.mobile-7{
  position: absolute;
  top: 1060px;
  right: 315px;
}
.mobile-8{
  position: absolute;
  top: 929px;
  right: -104px;
}
.how-it-works{
  position: absolute;
    top: 885px;
    left: -13px;
}