
.body-right-div{
    background-color: #121aee;
}
.body-center-div{
    background-color: #121a88;
}
.body-left-div{
    background-color: #121a00;
}
.partner-with-us-div{
    height: 243px;
    background-image: linear-gradient(to left, #1896de 94%, #71ccff 3%);
}
.bottom-cards{
    background-color: #121a21;
}
.trango-is-simple-h{
        font-size: 50px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.84;
        letter-spacing: normal;
        text-align: left;
        color: #1896de;
}
.trango-is-simple-h .text-style-1 {
    color: #1d2731;

  }
  .trango-simple-screen{
    margin: 36px 0px;
  }